.main-item{
  .p-tabmenuitem{
    .p-menuitem-link{
      padding: 2px 5px !important;
    }

  }
}





.directory{


  width: 100%;
  height: calc(100vh - 170px);
  display: flex;
  .row{
    width: 100%;
  }

  table{
    background-color: #f4f4f4;
    thead {
      tr{
        th{
          padding: .5em;
          background-color: inherit;
          border: 1px solid #c8c8c8;
          font-weight: 500;
          font-size: 11px;
          line-height: 12px;
        }

      }
    }
    tbody{
      tr {
        td {
          padding: .5em;
          background-color: inherit;
          border: 1px solid #c8c8c8;
          white-space: nowrap;
          line-height: 16px;
          font-size: 13px;
        }
        &:hover {
          background-color: #cbcbcb;
          cursor: pointer;
          border: 1px solid #c8c8c8;
        }
      }
    }
  }
}

