* {
  outline: none !important;
}


.arrow-icon {
  position: relative;
  padding-left: 25px;
  &:before {
    content: '';
    position: absolute;
    left: 5px;
    height: 100%;
    width: 30px;
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAAPCAQAAABDj1eZAAAA6ElEQVQoz32PvUoDYRBFz5qNWXXBBESjYG8pPoGdhaU2wUJQYiP406TQ2tJCUij4AoK2FiJpxMKnEHwASy12kz0WwUWQ/e5tZuAw9w5S6QMfbIsQgDb89MVFwaZzYtOW2LLtfOnEXXMHLkfessAW9wzZ5pE15FcFXyyRchfzyiwjnimAJ97JSmhInX1y3kKdavbNPQoX76knf7/ruvcPWnVzPI3XU7VffRPx2MybQCyRXa6JGJDRKP9q8MEhHdbZocdKTEKNEdPMUC+hSVImSEiBKVKMPLPwKhSHGHmuXlZDMSAXfJNTqR8OreRCMlA8mAAAAABJRU5ErkJggg==) no-repeat center center;
  }
}
.arrow-icon span{
  position: relative;
}



.p-dialog[role="dialog"] {
  .p-dialog-title,
  .p-tabview-title {
    font-family: lbet-mt,sans-serif!important;
  }
  .incomeModal {
    .react-datepicker-wrapper {
      width: 100%;
    }
    .fullwidth {
      label {
        width: 100%;
        font-family: lbet-st,sans-serif!important;
        margin-bottom: 3px;
      }
      input {
        width: 100%;
        text-indent: 10px;
        height: 31px;
        border-radius: 3px;
        border: 1px solid #aeaeae;
        outline: none;
      }
      textarea {
        width: calc(100% - 130px);
        margin-right: 1em;
        display: inline-block;
      }
      button {
        float: right;
        font-family: lbet-mt,sans-serif!important;
      }
      .p-dropdown {
        height: 32px !important;
      }
      &.barcode {
        .p-dropdown {
          min-width: 104px;
        }
      }
    }

  }

  .p-dialog-footer {
    button {
      font-family: lbet-mt,sans-serif!important;
      font-size: 13px;
    }
    span.last_code {
      min-width: 200px;
      text-align: left;
      font-family: lbet-st,sans-serif!important;
    }

    .dialog_footer {
      display: flex;
      align-items: center;
      .left_side {
        flex:1;
        text-align: left;
      }
      button {
        font-family: lbet-mt,sans-serif!important;
        font-size: 13px;
      }
      span.last_code {
        min-width: 200px;
        text-align: left;
        font-family: lbet-st,sans-serif!important;
      }
    }
  }
  .p-dialog-content {
    overflow: visible;
  }
  .tbv_invGac {
    .p-tabview-nav {
      margin-bottom: 0 !important;
    }
    .p-tabview-panels {
      min-height: 235px;
    }
  }
}

.incomeAddedTable {
  table {
    width: 100%;
    thead, tbody {
      tr {
        th {
          padding: .571em .857em;
          border: 1px solid #c8c8c8;
          font-weight: 700;
          color: #333;
          background-color: #f4f4f4;
          font-family: 'lbet-st', sans-serif;
          font-size: 11px;
        }
        td {
          padding: 0.471em .857em;
          border: 1px solid #c8c8c8;
          font-weight: 700;
          color: #333;
          background-color: #fff;
          font-family: 'lbet-st', sans-serif;
          font-size: 13px;
        }
      }
    }
  }

}

body .p-inputtext {
  padding: 0.3em 0.429em;
  margin: 0 !important;
}
.details-table{
  width: 100%;
  tr,td {
     border: 1px solid #c7c7c7 !important;
  }
}
