.ribbon {
  padding: 10px 10px 0 10px;
  background: #2d93e2;
  /*.cont {
    height: 50px;
    background-color: #fff;
    border: 1px solid #c8ced3;
    margin-top: -1px !important;
    border-radius: 2px;
    padding: 10px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;

    [data-show] {
      display: none;
    }
  }*/
}
.ribbon ul.nav {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: row;
}
.ribbon ul.nav li {
  display: inherit;
  font-family: "BPGArial", sans-serif;
  border: 1px solid rgba(200, 206, 211, 0);
  border-bottom: 1px solid #c8ced3;
}
.ribbon ul.nav li[data-active]:hover {
  background: rgba(255, 255, 255, 0.15);
}
.ribbon ul.nav li a {
  color: #fff;
  padding: 5px 10px;
}
.ribbon ul.nav li a:hover {
  text-decoration: none !important;
}
.ribbon ul.nav li.active {
  border: 1px solid #c8ced3;
  background: #fff;
}

.ribbon[data-select="Management/warehouse"] [data-active="Management/warehouse"] {
  background: #fff;
  border: 1px solid #c8ced3;
  border-bottom: none;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  box-shadow: 0px -3px 5px rgba(0, 0, 0, 0.14);
}
.ribbon[data-select="Management/warehouse"] [data-active="Management/warehouse"]:hover {
  background: #fff !important;
}
.ribbon[data-select="Management/warehouse"] [data-active="Management/warehouse"] a {
  color: #000;
}
.ribbon[data-select="Management/warehouse"] [data-show="Management/warehouse"] {
  display: block;
}

.ribbon[data-select="Management/property"] [data-active="Management/property"] {
  background: #fff;
  border: 1px solid #c8ced3;
  border-bottom: none;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  box-shadow: 0px -3px 5px rgba(0, 0, 0, 0.14);
}
.ribbon[data-select="Management/property"] [data-active="Management/property"]:hover {
  background: #fff !important;
}
.ribbon[data-select="Management/property"] [data-active="Management/property"] a {
  color: #000;
}
.ribbon[data-select="Management/property"] [data-show="Management/property"] {
  display: block;
}

.ribbon[data-select=messages] [data-active=messages] {
  background: #fff;
  border: 1px solid #c8ced3;
  border-bottom: none;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  box-shadow: 0px -3px 5px rgba(0, 0, 0, 0.14);
}
.ribbon[data-select=messages] [data-active=messages]:hover {
  background: #fff !important;
}
.ribbon[data-select=messages] [data-active=messages] a {
  color: #000;
}
.ribbon[data-select=messages] [data-show=messages] {
  display: block;
}

.ribbon[data-select=directory] [data-active=directory] {
  background: #fff;
  border: 1px solid #c8ced3;
  border-bottom: none;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  box-shadow: 0px -3px 5px rgba(0, 0, 0, 0.14);
}
.ribbon[data-select=directory] [data-active=directory]:hover {
  background: #fff !important;
}
.ribbon[data-select=directory] [data-active=directory] a {
  color: #000;
}
.ribbon[data-select=directory] [data-show=directory] {
  display: block;
}

.user {
  padding-left: 28px;
  padding-right: 28px;
  position: relative;
  color: #fff;
}
.user:before {
  content: "";
  position: absolute;
  right: 0;
  top: -1px;
  width: 23px;
  height: 22px;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABEAAAARCAMAAAAMs7fIAAAAwFBMVEVNT1r///9NT1pNT1pNT1pNT1pNT1pNT1pNT1pNT1pNT1pNT1pNT1pNT1pNT1pNT1pNT1pNT1pNT1pNT1pNT1pNT1pNT1pNT1pNT1pNT1pNT1pNT1pNT1pNT1pNT1pNT1pNT1pNT1pNT1pNT1pNT1pNT1pNT1pNT1pNT1pNT1pNT1pNT1pNT1pNT1pNT1pNT1pNT1pNT1pNT1pNT1pNT1pNT1pNT1pNT1pNT1pNT1pNT1pNT1pNT1pNT1pNT1pNT1pc6z7tAAAAP3RSTlMAAAECAwwODxMZHyY0OkRFT1RVV2FiZ2tucnZ8foCBjI2OkJGUlZaaoaasr7S2urvBwsfOz9Db3N3h6Onv9f46MBh6AAAAhklEQVR4AV3I577BQBAH0P+9OkGUIHoR0Yvoxbz/W7HZ+c2S8/FAa+xvQQvKn44JKSszWdLyMlWejozLM5RxeLoyFk9Z5v8exislg1o4fZiB/4k1zFheujiuJHsFnoxP9KjbzplollPTftKXQQxT+rUBRWEZiQBx2x3Nt4fT9XLcLbxmKfEGAcMlAga8LaEAAAAASUVORK5CYII=);
  background-color: #f5f7f7;
  border-radius: 50px;
  background-position: center 3px;
  background-repeat: no-repeat;
}
.user .dr-nav {
  display: none;
  padding: 10px;
  background: #fff;
  position: absolute;
  right: 0;
  top: 30px;
  width: 200px;
  border: 1px solid #c8ced3;
  z-index: 99999;
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.72);
  border-radius: 3px;
  border-top-right-radius: 5px;
}
.user .dr-nav:before {
  position: absolute;
  content: "";
  top: -10px;
  right: 3px;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 10px solid white;
}
.user .dr-nav button {
  color: #ffffff;
  background-color: #e91224;
  border: 1px solid #e91224;
  width: 100%;
  border-radius: 2px;
  padding: 5px;
}
.user:hover .dr-nav {
  display: block;
}

/*# sourceMappingURL=header.css.map */
