// Here you can add other styles
* {
  outline: none !important;
}
.app {
  height: 100vh;
  .app-body {
    height: calc(100vh - 105px);
  }
  .sidebar,.app-header{
    z-index: 222;
  }
  .main {
    .container-fluid {
      padding: 0 10px;

      #myGrid {
        height: calc(100vh - 154px);
        width: 100%;
      }
      .itemGroup{
        height: 500px;
        overflow-y: scroll;
      }
    }
  }
}

// ავტოცომპლეიტის ბაგის გასწორება

/*
.p-autocomplete-panel{
  display: block !important;
  opacity: 1 !important;
}
*/


