// Here you can add other styles
.app {
  height: 100vh;
  .app-body {
    height: calc(100vh - 105px);
  }
  .main {
    .container-fluid {
      padding: 0 10px;

      #myGrid {
        height: calc(100vh - 154px);
        width: 100%;
      }
    }
  }
}



