* {
  outline: none !important; }

.actionButton {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
  align-items: center; }
  .actionButton .buttonBox span.p-button-text {
    font-family: "lbet-mt", sans-serif !important;
    font-size: 12px !important; }
  .actionButton .buttonBox .pi {
    font-size: 1em; }
  .actionButton .buttonBox.tf {
    font-family: 'lbet-mt',sans-serif !important; }
  .actionButton .buttonBox:nth-child(1) {
    display: flex;
    justify-content: flex-start; }
  .actionButton .buttonBox:nth-child(2) {
    display: flex;
    justify-content: center; }
  .actionButton .buttonBox:nth-child(3) {
    display: flex;
    justify-content: flex-end; }
    .actionButton .buttonBox:nth-child(3) app-language span {
      position: relative !important; }
  .actionButton .buttonBox button {
    height: 28.28px;
    margin: 0 5px; }
  .actionButton .buttonBox .cart {
    display: flex;
    line-height: 28px; }
    .actionButton .buttonBox .cart fa-icon {
      margin-right: 5px; }

.arrow-icon {
  position: relative;
  padding-left: 25px; }
  .arrow-icon:before {
    content: '';
    position: absolute;
    left: 5px;
    height: 100%;
    width: 30px;
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAAPCAQAAABDj1eZAAAA6ElEQVQoz32PvUoDYRBFz5qNWXXBBESjYG8pPoGdhaU2wUJQYiP406TQ2tJCUij4AoK2FiJpxMKnEHwASy12kz0WwUWQ/e5tZuAw9w5S6QMfbIsQgDb89MVFwaZzYtOW2LLtfOnEXXMHLkfessAW9wzZ5pE15FcFXyyRchfzyiwjnimAJ97JSmhInX1y3kKdavbNPQoX76knf7/ruvcPWnVzPI3XU7VffRPx2MybQCyRXa6JGJDRKP9q8MEhHdbZocdKTEKNEdPMUC+hSVImSEiBKVKMPLPwKhSHGHmuXlZDMSAXfJNTqR8OreRCMlA8mAAAAABJRU5ErkJggg==) no-repeat center center; }

.arrow-icon span {
  position: relative; }

.p-dialog[role="dialog"] .expand_mode h3 {
  font-family: lbet-mt, sans-serif !important;
  font-size: 18px;
  text-align: center; }
.p-dialog[role="dialog"] .expand_mode input {
  font-size: 18px;
  border: none;
  padding: 0;
  width: 100px; }
.p-dialog[role="dialog"] .expand_mode table {
  width: 100%; }
  .p-dialog[role="dialog"] .expand_mode table thead tr th, .p-dialog[role="dialog"] .expand_mode table tbody tr th {
    padding: .571em .857em;
    border: 1px solid #c8c8c8;
    font-weight: 700;
    color: #333;
    background-color: #f4f4f4;
    font-family: 'lbet-st', sans-serif;
    font-size: 11px; }
  .p-dialog[role="dialog"] .expand_mode table thead tr td, .p-dialog[role="dialog"] .expand_mode table tbody tr td {
    padding: 0.471em .857em;
    border: 1px solid #c8c8c8;
    font-weight: 700;
    color: #333;
    background-color: #fff;
    font-family: 'lbet-st', sans-serif;
    font-size: 13px; }
.p-dialog[role="dialog"] .p-dialog-title {
  font-family: lbet-mt, sans-serif !important; }
.p-dialog[role="dialog"] .incomeModal .react-datepicker-wrapper {
  width: 100%; }
.p-dialog[role="dialog"] .incomeModal .fullwidth label {
  width: 100%;
  font-family: lbet-st, sans-serif !important;
  margin-bottom: 3px; }
.p-dialog[role="dialog"] .incomeModal .fullwidth input {
  width: 100%;
  text-indent: 10px;
  height: 31px;
  border-radius: 3px;
  border: 1px solid #aeaeae;
  outline: none; }
.p-dialog[role="dialog"] .incomeModal .fullwidth textarea {
  width: calc(100% - 130px);
  margin-right: 1em;
  display: inline-block; }
.p-dialog[role="dialog"] .incomeModal .fullwidth button {
  float: right;
  font-family: lbet-mt, sans-serif !important; }
.p-dialog[role="dialog"] .incomeModal .fullwidth .p-dropdown {
  height: 31px; }
.p-dialog[role="dialog"] .incomeModal .fullwidth.barcode .p-dropdown {
  min-width: 104px; }
.p-dialog[role="dialog"] .p-dialog-footer .dialog_footer {
  display: flex;
  align-items: center; }
  .p-dialog[role="dialog"] .p-dialog-footer .dialog_footer .left_side {
    flex: 1;
    text-align: left; }
  .p-dialog[role="dialog"] .p-dialog-footer .dialog_footer button {
    font-family: lbet-mt, sans-serif !important;
    font-size: 13px; }
  .p-dialog[role="dialog"] .p-dialog-footer .dialog_footer span.last_code {
    min-width: 200px;
    text-align: left;
    font-family: lbet-st, sans-serif !important; }

.incomeAddedTable table {
  width: 100%; }
  .incomeAddedTable table thead tr th, .incomeAddedTable table tbody tr th {
    padding: .571em .857em;
    border: 1px solid #c8c8c8;
    font-weight: 700;
    color: #333;
    background-color: #f4f4f4;
    font-family: 'lbet-st', sans-serif;
    font-size: 11px; }
  .incomeAddedTable table thead tr td, .incomeAddedTable table tbody tr td {
    padding: 0.471em .857em;
    border: 1px solid #c8c8c8;
    font-weight: 700;
    color: #333;
    background-color: #fff;
    font-family: 'lbet-st', sans-serif;
    font-size: 13px; }

body .p-inputtext {
  padding: 0.3em 0.429em;
  margin: 0 !important; }

.details-table {
  width: 100%; }
  .details-table tr, .details-table td {
    border: 1px solid #c7c7c7 !important; }

section {
  display: flex; }
  section .menu {
    max-width: 450px; }
  section .menu, section .cont {
    margin: 0 5px;
    flex: 1;
    background-color: #f4f4f4; }
    section .menu .subdiv, section .cont .subdiv {
      height: calc(100% - 35px);
      margin-bottom: 1px; }
    section .menu table, section .cont table {
      width: 100%; }
      section .menu table thead, section .cont table thead {
        background: #f4f4f4; }
        section .menu table thead tr th, section .cont table thead tr th {
          font-size: 10px;
          padding: .571em .857em;
          border: 1px solid #c8c8c8;
          font-weight: 700;
          color: #333; }
      section .menu table tbody tr:nth-child(even), section .cont table tbody tr:nth-child(even) {
        background: #f9f9f9; }
      section .menu table tbody tr:nth-child(odd), section .cont table tbody tr:nth-child(odd) {
        background: #FFF; }
      section .menu table tbody tr:hover, section .cont table tbody tr:hover {
        cursor: pointer;
        background-color: #eaeaea;
        color: #333; }
      section .menu table tbody tr td, section .cont table tbody tr td {
        padding: .571em .857em;
        background-color: inherit;
        border: 1px solid #c8c8c8; }

.messages-container {
  width: 100%;
  height: calc(100vh - 170px);
  display: flex; }
  .messages-container .left-side {
    width: 500px;
    position: relative; }
  .messages-container .right-side {
    width: 100%; }
  .messages-container table {
    background-color: #f4f4f4; }
    .messages-container table thead tr th {
      padding: .5em;
      background-color: inherit;
      border: 1px solid #c8c8c8;
      font-weight: 500;
      font-size: 11px;
      line-height: 12px;
      font-family: 'lbet-nus-bold',sans-serif; }
      .messages-container table thead tr th:nth-child(4) {
        min-width: 85px; }
    .messages-container table tbody tr td {
      padding: .5em;
      background-color: inherit;
      border: 1px solid #c8c8c8;
      line-height: 16px;
      font-size: 13px; }
    .messages-container table tbody tr:hover {
      background-color: #cbcbcb;
      cursor: pointer;
      border: 1px solid #c8c8c8; }

/*# sourceMappingURL=OverheadModalTable.css.map */
